background: linear-gradient(270deg, #ff0000, #e38e8e);
background-size: 400% 400%;
-webkit-animation: AnimationName 17s ease infinite;
-moz-animation: AnimationName 17s ease infinite;
-o-animation: AnimationName 17s ease infinite;
animation: AnimationName 17s ease infinite;
@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-o-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
